<!-- page title -->
<section class="page-title position-relative overflow-hidden" style="background-image: url({{ if .Params.Image }}{{ .Params.Image | absURL }}{{ else }}{{ .Site.Params.header_image | absURL}}{{ end }})">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">{{.Title}}</h1>
        <h1 class="text-white font-tertiary text-size-h3">{{.Params.subtitle}}</h1>

      </div>
    </div>
  </div>
</section>
<!-- /page title -->